-e git+ssh://git@github.com/unholster/django-frontflow.git#egg=django-frontflow
boto==2.36.0
coverage==3.7.1
dj-database-url==0.3.0
django-bootstrap-form==3.1
django-coverage==1.2.4
django-extensions==1.4.6
django-jsonfield==0.9.15
django-password-reset==0.7
Django>=1.8
githubpy==1.1.0
gunicorn==19.2.1
psycopg2>=2.5.1
python-social-auth==0.2.12
unholster.milieu==1.0.0
werkzeug==0.9.6
