{% extends 'base.html' %}
{% load i18n %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js" ></script>
{% endblock %}

{% block content %}
<h2>{{obj.ship}}</h2>
<div class="mdl-grid">
    {% for name, value in obj.stats %}
    <div class="mdl-cell mdl-cell--4-col">
        <strong>{{name}}</strong> {{value|floatformat:2}}
    </div>
    {% endfor %}
</div>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        {% for stage, parts in obj.stages %}
            <a href="#stage-{{stage}}" class="mdl-tabs__tab">Stage {{stage}}</a>
        {% endfor %}
    </div>

    {% for stage, parts in obj.stages %}
        {% regroup parts by model.obj.title as part_list %}
        <div class="mdl-tabs__panel" id="stage-{{stage}}">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col"></div>
                <div class="mdl-cell mdl-cell--6-col mdl-grid">
                    {% for p in part_list %}
                    <div class="mdl-cell mdl-cell--6-col">
                        {{p.list|length}} x {{p.grouper}}
                    </div>
                    {% endfor %}
                </div>
                <div class="mdl-cell mdl-cell--3-col"></div>
            </div>
        </div>
    {% endfor %}
</div>
<h3>{% trans "Craft file" %}</h3>
<div class="mdl-grid">
    <pre class="mdl-cell--6-col">
        {{parser.raw}}
    </pre>
    <pre class="mdl-cell--6-col">
        {{parser.content}}
    </pre>
</div>
{% endblock %}
